{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "semi": true,
        "useTabs": false,
        "tabWidth": 2,
        "trailingComma": "none",
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "singleQuote": true
      }
    ],
    "no-console": "off"
  }
}
